{% extends 'base.html' %} 
    {% load staticfiles %} 

    {% block title_block %}
        Create New Assignment
    {% endblock %}

    {% block body_block %}
    <div class="container"> 
            <div align="center">
                <form class="formcontainer" enctype="multipart/form-data" id="assignment_form" method="POST" action="{% url 'add_assignment' %}">
                    <h1>Upload a new assignment</h1>
                    <p style="text-align: center;">Please fill in this form to create a new assignment.</p>
                    <hr>
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div>
                            {{ field.errors }}
                            <strong>{{ field.help_text }}</strong>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <br>
                    <input class="btn btn-primary" type="save" name="save" value="Create Assignment" />
                </form>
            </div>
        </div>
        </div>
    {% endblock %}