{% extends 'base.html' %} 
    {% load staticfiles %} 

      {% block body_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <script src="{% static "js/dashboard.js" %}"></script>
            <div class="wrapper">
  <h1>Personal Dashboard</h1>
  <div class="inner-container">
    <div class="grid-wrapper">
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="label">
            Profile
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Profile info
            </div>
            <div class="overlay-label">
              Your profile info shown here!
            </div>
          </div>

        </div>

      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-file" aria-hidden="true"></i>

          </div>
          <div class="label">
            View Assignments
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Assignment List
            </div>
            <div class="overlay-label">
              Your all assignments listed here! 
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

          </div>
          <div class="label">
            Create Assignments
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Create a New Assignment
            </div>
            <div class="overlay-label">
              Click to create a new assignment for assessment!
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-clock-o" aria-hidden="true"></i>

          </div>
          <div class="label">
            History
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Your last worked on
            </div>
            <div class="overlay-label">
              <p> HCI Personal Reflection</p>
              <P> ECS Essay</p>
              <p> more...</p>
            </div>
          </div>
        </div>
      </div>
      <div class="grid user-grid">
        <div class="grid-header">
          <div class="icon">
<i class="fa fa-user-circle-o" aria-hidden="true"></i>


          </div>
          <div class="label">
            {{user.username}}
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-users" aria-hidden="true"></i>

          </div>
          <div class="label">
            Groups
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Groups
            </div>
            <div class="overlay-label">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos iure autem sapiente quod adipisci illum in, praesentium sunt beatae quo at id officiis accusamus saepe fugit dicta nihil omnis. Expedita!
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-upload" aria-hidden="true"></i>

          </div>
          <div class="label">
            Upload
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              Upload a File
            </div>
            <div class="overlay-label">
              Upload files as evidence for work-based learning.
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-calendar" aria-hidden="true"></i>

          </div>
          <div class="label">
            Deadlines
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
             Deadline Notification
            </div>
            <div class="overlay-label">
              Notification of assignments with coming deadlines.
            </div>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon">
            <i class="fa fa-folder" aria-hidden="true"></i>

          </div>
          <div class="label">
            Record
          </div>
        </div>
        <div class="grid-overlay">
          <div class="overlay-content-wrapper">

            <div class="overlay-header">
              View Competency Rating Record
            </div>
            <div class="overlay-label">
              View the record for your all ratings on competencies here.
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  
</div>
    {% endblock %}