{% extends 'base.html' %} 
    {% load staticfiles %} 

      {% block body_block %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
      <script src="{% static 'js/dashboard.js' %}"></script>
            <div class="wrapper">
  <h1>Personal Dashboard</h1>
  <div class="inner-container">
    <div class="grid-wrapper">
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-user" aria-hidden="true"></i>
          </div>
          <div class="label">
            <p style = "color: grey;">Profile</p>
            <h4 style = "color: grey;">Your profile info shown here!</h4>
          </div>
        </div>
       </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-file" aria-hidden="true"></i>

          </div>
          <div class="label">
              <p style = "color: grey;">Assignments</p>
              <h4 style = "color: grey;">Your all assignments listed here!</h4>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">Create</p>
              <h4 style = "color: grey;">Click to create a new assignment!</h4>
          </div>
        </div>
       </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-clock-o" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">History</p>
              <h4 style = "color: grey;">Your last worked on...</h4>
          </div>
        </div>
      </div>
      <div class="grid user-grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
<i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;"> {{user.username}}</p>
              <h4 style = "color: grey;">Welcome!</h4>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">Groups</p>
              <h4 style = "color: grey;">View groups you own membership.</h4>
          </div>
        </div>
      </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-upload" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">Upload</p>
              <h4 style = "color: grey;">Upload files as evidence for WBL.</h4>
          </div>
        </div>
        </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-calendar" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">Deadlines</p>
              <h4 style = "color: grey;">Notification of coming deadlines.</h4>
          </div>
        </div>
        </div>
      <div class="grid">
        <div class="grid-header">
          <div class="icon" style = "font-size: 60px">
            <i class="fa fa-folder" aria-hidden="true"></i>
          </div>
          <div class="label">
              <p style = "color: grey;">Record</p>
              <h4 style = "color: grey;">View Competency Rating Record.</h4>
          </div>
        </div>
        </div>
    </div>
  </div>
</div>
    {% endblock %}