{% extends 'base.html' %} 
    {% load staticfiles %} 
        {% block title_block %} 
            Student 
        {% endblock %} 
        
        {% block body_block %}
             {% if student %}
             <div class="container-fluid">
                <div>
                    <h2>{{ student.SID }}</h2> 
                    <img src="{{ MEDIA_URL}}{{ userprofile.picture }}" width="300" height="300" alt="{{selecteduser.username}}">
                    <strong id="studentDes">{{ student.first_name }}</strong>
                    <p id="studentDes">{{ student.surname }}</p>
                    <p id="studentDes">{{ student.major }}</p>
                    <p id="studentDes">{{ student.enroll_year }}</p>
                    <p id="studentDes">{{ student.graduate_year }}</p>
                </div>
                <div class="row">
                    {% if assignments %} 
                        {% for assignment in assignments %}
                            <div id="assignment" class="col-md-3">
                                <figure id="assignment-box" class="fh5co-card-item image-popup">
                                    
                                    <div class="overlay">
                                        <strong id="assignmentDes">{{ assignment.title }}</strong>
                                        <p id="assignmentDes">{{ assignment.assignment_ID }}</p>
                                        <p id="assignmentDes">{{ assignment.module_ID }}</p>
                                        <p id="assignmentDes">{{ assignment.assessor_ID }}</p>
                                    </div>
                                </figure>
                                <div id="assignmentLabel">
                                    <h4>{{ assignment.assignment_ID }}</h4>
                                    <a href="{% url 'show_assignment' student.slug assignment.slug %}" class="btn btn-primary" role="button">view assignment</a>
                                </div>
                            </div>
                        {% endfor %} 
                    {% else %}
                        <strong>No assignments currently in saved.</strong> 
                    {% endif %} 
            {% else %}
                <strong>The specified student does not exist.</strong> 
            {% endif %}
                </div>
            </div>
        {% endblock %}