{% extends 'base.html' %}
{% load staticfiles %}
{% block title_block %}
    Assignment
{% endblock %}
{% block body_block %}
<div class="container ">
        <div class="row">
        {% if assignment %}
                {% for assignment in assignment %}
                <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="backButton">
                                <button class="btn btn-primary" onclick="goBack()" class="previous">&laquo;Back to search results</a></button>
                                <button class="btn btn-primary" onclick="generate()"><span class="glyphicon glyphicon-print"></span> Print Assignment</button>
                        </div>
                         <div>
                                <h2>{{assignment.title}}<h2>
                            
                        </div>
                        
                        <div class= "col-lg-4 col-md-4 col-sm-4" > 
                                <div class="well" id="assignmentdetails">
                                    <h4>Submitted by</h4>
                                    {{assignment.owner}}
                        </div>
                        
                        <div class="col-lg-4 col-md-4 col-sm-4"> 
                                <div class="well" id="recipedetails">
                                        <h4>Description</h4>
                                        {{assignment.description }}
                                </div>    
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4"> 
                                <div class="well" id="recipedetails">
                                        <h4>Text</h4>
                                        {{assignment.text}}{{ value|linebreaks }}
                                </div>    
                        </div>
                </div>
                        <div class = "col-lg-12 col-md-12 col-sm-12">
                                <div class="well" >
                                        <h4>module</h4>
                                        {{assignment.module_ID }}
                                </div>  
                                <div class="well" >
                                    <h4>assessor</h4>
                                    {{assignment.assessor}}
                            </div> 
                            <div class="well" >
                                <h4>create time</h4>
                                {{assignment.create_time}}
                        </div>  
                        <div class="well" >
                            <h4>modify time</h4>
                            {{assignment.modify_time}}
                    </div>   
                        </div>
                </div>
                {% endfor %}
        {% else %}
                <strong>No Assignment!</strong>
        {% endif %}
        </div>
</div>

{% endblock %}