{% extends 'base.html' %} 
    {% load staticfiles %} 
        {% block title_block %} 
            Assessor 
        {% endblock %} 
        
        {% block body_block %}
             {% ifassessor %}
             <div class="container-fluid">
                <div>
                    <h2>{{ assessor.assessor_ID }}</h2> 
                    <img src="{{ MEDIA_URL}}{{ userprofile.picture }}" width="300" height="300" alt="{{selecteduser.username}}">
                    <strong id="assessorDes">{{ assessor.first_name }}</strong>
                    <p id="assessorDes">{{ assessor.surname }}</p>
                    <p id="assessorDes">{{ assessor.institution }}</p>
                    <p id="assessorDes">{{ assessor.user_group }}</p>
                    <p id="assessorDes">{{ assessor.module_ID }}</p>
                </div>
                <div class="row">
                    {% if feedbacks %} 
                        {% for feedback in feedbacks %}
                            <div id="feedback" class="col-md-3">
                                <figure id="feedback-box" class="fh5co-card-item image-popup">
                                    
                                    <div class="overlay">
                                        <strong id="feedbackDes">{{ feedback.feedback_ID }}</strong>
                                        <p id="feedbackDes">{{ feedback.module_ID }}</p>
                                        <p id="feedbackDes">{{ feedback.assessor_ID }}</p>
                                    </div>
                                </figure>
                                <div id="feedbackLabel">
                                    <h4>{{ feedback.feedback_ID }}</h4>
                                    <a href="{% url 'show_feedback' assessor.slug feedback.slug %}" class="btn btn-primary" role="button">view feedback</a>
                                </div>
                            </div>
                        {% endfor %} 
                    {% else %}
                        <strong>No feedbacks currently in saved.</strong> 
                    {% endif %} 
            {% else %}
                <strong>The specified assessor does not exist.</strong> 
            {% endif %}
                </div>
            </div>
        {% endblock %}