    <!DOCTYPE html>
    {% load staticfiles %}
    
    
    <html> 
        <head>
            <link rel="shortcut icon" type="image/png" href="{% static "images/e.ico" %}"/>
            <title> 
                    ESE -
                    {% block title_block %}
                    ePortfolio for Software Engineering Students
                    {% endblock %}
             </title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2"></script>
            <script src="{% static "js/ESE.js" %}"></script>
            <script src="{% static "js/ESE-ajax.js" %}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/fontello-2f186091/css/fontello.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
    {% if user.is_authenticated and user.is_assessor %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/assessors.css' %}">
    {% else %}
      <link rel="stylesheet" type="text/css" href="{% static 'css/students.css' %}">
    {% endif %}
  </head>
  <body>
    <div id="fb-root"></div>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">          
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            
            <a class="navbar-brand" id="siteTitle"><strong>ESE</strong></a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="#"><a href="{% url 'home' %}"><strong>Home</strong></a></li>
              <li><a href="{% url 'about' %}"><strong>About</strong></a></li>
              <li><a class="dropdown-toggle" data-toggle="dropdown" href="#"><strong>Guides</strong><span class="caret" ></span></a>
                <ul class="dropdown-menu">
                       
                      <li><a href="/ESE/guides/student-account/">student account</a></li>
                     
                </ul>
              </li>
              <li><a href="/search/"><strong>Search</strong></a></li>
              <li><a href="{% url 'contact_us' %}"><strong>Contact us</strong></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                    {% if user.is_assessors %}
                      <span class="icon-feather" data-toggle="tooltip" data-placement="right" title="Assessor profile"></span>
                    {% else %}
                      <span class="icon-graduation-cap" data-toggle="tooltip" data-placement="right" title="Student profile"></span>
                    {% endif %}
                  {% endif %}
                
            <li class="col-6 text-right">
              {% if user.is_authenticated %}
                <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
              {% else %}
                <li><a href="{% url 'login' %}" class="btn btn-primary" role="button">Log in</a></li>
                <li><a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a></li>
              {% endif %}
              </li>
              </ul>
            </div>
          </nav>
          </div>
          
              {% block body_block %}
              {% endblock %}
            </div>
          </div>
          <footer class="container-fluid">
            <div class="row">
                 <div class="col-sm-4 text-left"> 
                   <img src="{% static "images/e.png" %}" width="250" height="70"/>
                 </div>
                 <div class="col-sm-4 text-center"> 
                   <p>                 </p>
                   <p>ESE --</p>
                   <p>Improve Your Worked-based Learning Performance</p>
                </div>
                 <div class="col-sm-4 text-right"> 
                   <p>          </p>
                   <p>Copyright ©2019 by Jiayu ZHANG. All rights reserved. </p>
               </div>  
              </div>
          </footer>
      </body> 
  </html>
